/Unidad 1/T1.1 SIN BD/TI1.1 SOAP_JAVA_CONUNI_GR01/02.CLICON/02 CLICON/build/
/Unidad 1/T1.1 SIN BD/TI1.1 SOAP_JAVA_CONUNI_GR01/02.CLICON/02 CLICON/dist/
/Unidad 1/T1.1 SIN BD/TI1.1 SOAP_JAVA_CONUNI_GR01/02.CLICON/02 CLICON/nbproject/private/